.footer-middle {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}
.text-right{
    text-align: right;
}
.pt-90 {
    padding-top: 90px !important;
}
.my-account__address-list {
    display: flex;
    gap: 1.625rem;
}

.form-floating>.form-control,
.form-floating>.form-select {
    height: 48px;
} 

/*
    wishlist page
*/
.sqr-btn {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #d8373e;
    padding: 0 20px;
    text-transform: uppercase;
    display: inline-block;
}

.sqr-btn:hover {
    color: #ffffff;
    background-color: #222222;
}

.sqr-btn i {
    padding-right: 5px;
}

/*------- Custom Radio Button Style end -------*/
/*--------- Cart Page Wrapper Start ---------*/
.cart-table .table {
    margin: 0;
    white-space: nowrap;
}

.cart-table .table thead {
    background-color: #d8373e;
}

.cart-table .table thead tr th {
    border-color: #d8373e;
    border-bottom: 0 solid transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
}

.cart-table .table tbody tr td {
    border-color: #ccc;
    text-align: center;
    padding: 10px 20px;
    vertical-align: middle;
    font-weight: 600;
    color: #444444;
}

.cart-table .table tbody tr td a {
    color: #444444;
    font-weight: 500;
    text-transform: capitalize;
}

.cart-table .table tbody tr td a:hover {
    color: #d8373e;
}

.cart-table .table tbody tr td a.btn {
    color: #ffffff;
}

.cart-table .table tbody tr td a.btn:hover {
    color: #ffffff;
}

.cart-table .table tbody tr td a.check-btn {
    color: #ffffff;
}

.cart-table .table tr .pro-thumbnail,
.cart-table .table tr .pro-price,
.cart-table .table tr .pro-quantity,
.cart-table .table tr .pro-subtotal,
.cart-table .table tr .pro-remove {
    width: 140px;
}

.cart-table .table tr .pro-qty {
    width: 90px;
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 15px;
    float: left;
}

.cart-table .table tr .pro-qty .qtybtn {
    width: 15px;
    display: block;
    float: left;
    line-height: 31px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #404040;
}

.cart-table .table tr .pro-qty input {
    width: 28px;
    float: left;
    border: none;
    height: 33px;
    line-height: 33px;
    padding: 0;
    text-align: center;
    background-color: transparent;
}